/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
  /*background-image: url(../images/gradient.png);
  height: 100%;
  background-attachment: fixed;*/
}


/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */

#header {
	padding-top: 10px;
	background-image: url(../images/gradient.png);
	color: #FFF;
	height: 150px;
	margin-bottom: -40px;
	border-bottom: 3px solid #000;
}

#innerheader {
	width: 960px;
	margin: auto;
}

#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;
  padding-left: 10px;
}
#logo img {
  vertical-align: bottom;
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 3em;
  font-weight: 400;
  line-height: 1.5em;
  text-transform:uppercase;
}
#site-name a:link,
#site-name a:visited {
  color: #FFF;
  text-decoration: none;
  position: relative;
  top: 25px;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: none;
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
  position: relative;
  top: 10px;
  font-weight: 300;
  font-style: italic;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

#secondary-menu a:link, #secondary-menu a:visited {
	color: #FFF;
}

/*featured article*/
.block-nodesinblock .field-name-title {
	width: 620px;
}


/*Blocks in top right corner*/
#search-block-form {
	float: right;
	margin-right: 20px;
	padding-top: 20px;
	width: 300px;
	
}

#edit-search-block-form--2 {
	width: 72%;
}

#edit-submit {
	width: 22%;
	height: 22px;
	font-size: 75%;
	float: right;
}



/*
 * Main (container for everything else)
 */

#main {
	
	background-color: #FFF;
	margin: 20px auto;
	padding: 10px 20px;
	box-shadow: 0px 0px 10px 5px #AAA;
}

/*
 * Content
 */

#content {
	padding: 10px 0;
	margin-top: 0px;
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

h2 a:link, h2 a:visited{
	color: #000;
}

.article-title {
	line-height: 120%;
	padding-bottom: 12px;
}

tr.even { /* Some tables have rows marked even or odd. */
  background-color: #fff; /* Drupal core uses a #eee background */
}

tr.odd {
  background-color: #fff; /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
  width: 540px;
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0; /* LTR */
}

span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li { /* Each page number in the pager list */
  padding: 0 0.5em;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

#outerfooter {
	background-color: #CE2C13;
	color: #CCC;
	font-size: 80%;
}

#footer {
	padding: 10px 0;
	width: 980px;
	margin: auto;
	margin-top: -40px;
	padding-top: 40px;
}

#footer a {
	color: #FFF;
}

#footer ul {
	margin: 0;
}

/*blocks in footer*/

#block-user-login {
	float: right;
}

#block-user-login ul {
	padding-left: 0;
	margin-top: 0;
}

#block-user-login li {
	list-style: none;
}

#block-user-login .first {
	float: left;
	padding-right: 25px;
}

#block-menu-menu-footer-links {
	float: right;
}

#block-menu-menu-footer-section-links, #block-menu-menu-footer-links, #block-user-login{
	width: 300px;
	margin-right: 20px;
	padding: 0;
}

#block-menu-menu-footer-section-links {
	margin-left: 20px;
}

#footer li {
	list-style: none;
}

#footer ul {
	padding-left: 0;
}

#block-block-1 {
	clear: both;
	text-align: center;
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}

/*
 * other
*/

.region-header .block-search /* Float search block to right when placed in header region */ {
/*
	position: relative;
	bottom: 100px;
	left: 500px;
	width: 250px;
*/
}

p {
	margin: 10px 0;
}

/*home page grid*/

.col-1, .col-2 {
	width: 300px;
	padding-right: 20px;
}


/*image in featured article*/
.nodesinblock img {
	float: right;
	padding-left: 20px;
}

/*title in featured article*/
.nodesinblock h2 {
	font-size: 200%;
	font-weight: 500;
	padding-bottom: 0;
}

/*comments*/
.comment {
	padding-bottom: 20px;
}

.field-name-comment-body p {
	margin-top: 0;
	margin-bottom: 0;
}